fastapi==0.110
uvicorn==0.24.0
python-multipart==0.0.6
pydantic==2.7
groq>=0.9.0
python-dateutil==2.8.2

# Optional - install only if needed:
# opencv-python==4.7.0.72
# Pillow==10.3.0
# pytesseract==0.3.10
# numpy>=1.25,<2
# pandas==2.0.3
# scikit-learn==1.3.0
# torch==2.0.1
# transformers==4.35.0
# prophet==1.1.4
# joblib==1.3.2
